@import "tailwindcss";

:root {
  --background: #FAFAFA; /* Elegant off-white */
  --foreground: #022C22; /* Deep, trustworthy emerald/forest green */
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; /* We can swap this for a premium font later */
  overflow-x: hidden;
}

/* ----------------------------------------- */
/* Nuke ALL Scrollbars for a Premium UI Feel */
/* ----------------------------------------- */

/* Chrome, Safari and Opera - The Nuclear Option */
*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}

/* IE, Edge and Firefox */
* {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}